{% extends 'base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<!-- Tailwind CSS CDN Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css" integrity="sha512-D6nmD1s9X2spMFsP//o/Wn+fEBL1v/0QwO8kyC/gxNU0RyJvFPeWkNzh+jq3qis51ETZBXLiE1wuk8x4jsF4Hw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'home/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/packages.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<style>
    button.clicked {
        background-color: rgb(239, 71, 71);
        color: white;
      }
      


.animate-charcter
{
text-transform: uppercase;
background-image: linear-gradient(
-225deg,

#0a090c 0%,
#d1c8da 29%,
#e2dbdd 67%,
#ecece4 100%
);
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2s linear infinite;
display: inline-block;

}

@keyframes textclip {
to {
background-position: 200% center;
}
}
</style>




<div class="" id="HOME">
<div id="controls-carousel " class=" h-[770px] z-10" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-[770px] overflow-hidden rounded-lg ">
    <!-- Item 1 -->
    <div class="duration-700 ease-in-out" data-carousel-item="active">
      <img src="{% static '/images/slide/cons1.jpg' %}" class="h-[770px] absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 filter brightness-50 hover:bg-opacity-50" style="background-blend-mode: darken;" alt="...">
      <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <section class="xl:mr-[750px] xl:mb-[280px] lg:mr-[750px] lg:mb-[280px] md:mr-[490px] md:mb-[280px] sm:mr-[440px] sm:mb-[280px]">
          <p class=" t slide-in-top text-2xl  text-red-400 xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px]" style="word-wrap: break-word;">Choose Your Best Service</p>
            <br>
          <h1 class=" t slide-in-top text-white text-4xl font-bold xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px]" style="word-wrap: break-word;">Choose Your Best Service</h1><br>
          <p class=" t slide-in-top text-white  font-bold xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px]" style="word-wrap: break-word;">Convallis pulvinar condimentum sem lorem purus maecenas.sodaledlor
            Lectus suspendisse cursus justo suspendisse done</p><br>

            <button class=" xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px] bg-red-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
              Get Services
             </button>
             <button class=" xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px] bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
              Contact Us
             </button>
           
        </section>
        
      </div>
     
    </div>
<!-- 
    home carousel part start -->
    <!-- Item 2 -->
    <div class="duration-700 ease-in-out" data-carousel-item="active">
      <img src="{% static '/images/slide/cons3.jpg' %}" class="h-[770px] absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 filter brightness-50 hover:bg-opacity-50" style="background-blend-mode: darken;" alt="...">
      <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <section class="xl:mr-[750px] xl:mb-[280px] lg:mr-[750px] lg:mb-[280px] md:mr-[490px] md:mb-[280px] sm:mr-[440px] sm:mb-[280px]">
        <p class=" t slide-in-top text-2xl  text-red-400 xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px]" style="word-wrap: break-word;">Choose Your Best Service</p>
          <br>
        <h1 class=" t slide-in-top text-white text-4xl font-bold xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px]" style="word-wrap: break-word;">Choose Your Best Service</h1><br>
        <p class=" t slide-in-top text-white  font-bold xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px]" style="word-wrap: break-word;">Convallis pulvinar condimentum sem lorem purus maecenas.sodaledlor
          Lectus suspendisse cursus justo suspendisse done</p><br>

          <button class=" xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px] bg-red-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
           Get Services
          </button>
          <button  class=" xl:ml-5 lg:ml-5 md:ml-3 sm:ml-3 ml-[100px] bg-green-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
           Contact Us
          </button>
      </section>
      </div>
    </div>
    <!-- Item 3 -->
  </div>
</div>
</div>
  <br>
<br>
<!-- home carousel part end -->

<!-- about part start -->
<div class="" id="ABOUT">

  <section>
    <h1 class="text-black text-3xl flex justify-center " style="word-wrap: break-word;">We’re here to help you when you need   <br> your Consultaion support</h1><br>
  </section> <br>

  <section>

    <button id="about-button" class="xl:ml-[100px] lg:ml-[100px] md:ml-[60px] sm:ml-3 ml-[100px] bg-transparent hover:bg-red-500 text-black dark:text-white font-sm hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
        About Us
      </button>
       <button id="mission-button"  class="xl:ml-[100px] lg:ml-[100px] md:ml-3 sm:ml-3 ml-[100px] bg-transparent hover:bg-red-500 text-black dark:text-white font-sm hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
        Our Mission 
      </button>
       <button id="skills-button"  class=" mt-3 xl:ml-[100px] lg:ml-[100px] md:ml-3 sm:ml-3 ml-[100px] bg-transparent hover:bg-red-500 text-black dark:text-white font-sm hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
        Work Skill 
      </button>
  </section> <br>

  <div class="xl:flex lg:flex md:flex xl:lg:md:sm:justify-center xl:ml-[100px] xl:mr-[100px] xl:gap-[120px] lg:ml-[100px] lg:mr-[70px] lg:gap-[120px] md:ml-[60px] md:mr-[60px] md:gap-[30px]  sm:ml-3  sm:mr-[25px] ">
  <section class=" w-[650px] ">

     <div id="about-section">
      <p id="about-section" style="word-wrap: break-word;" >Arham Multi Service loves to help individuals ,families with their immigration needs .I am  here to help. I will meet with you to understand your needs ,explain your options and let you know the whole process and the service charges before you start .You can pay upfront or overtime with personal checks, cash or major credits cards without any additional fees.</p>
     </div>

     <div id="mission-section">
        <p id="mission-section">This is the mission section.</p>
      </div>

      <div id="skills-section">
        <p id="skills-section">This is the skills section.</p>                     
      </div>

  </section> 

  <section class="xl:w-[850px] xl:h-[600px] md:w-[700px] md:h-[500px] mt-3">
    <iframe class="xl:ml-[80px] lg:ml-[40px]  xl:w-[500px] xl:h-[350px] lg:w-[350px] lg:h-[350px] md:w-[300px] md:h-[300px] sm:w-[250px] sm:h-[250px]" src="https://www.youtube.com/embed/dfGwtvklk-c" title="Learn what immigration consultants can and cannot do for you" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </section>
</div>

</div>


<!-- about part end -->

<!-- service start part -->
<div class="bg-red-500" id="SERVICE">
  <br>
<h1 class="flex justify-center text-white font-bold text-4xl">OUR <pre> </pre><span class="text-black font-bold text-4xl">SERVICE</span></h1>
<br>
<section class=" font-bold mr-[390px] ml-[390px]"><hr></section> <br>

<div  align="center" valign="middle">
<h3 class=" font-bold text-black animate-charcter text-2xl " > Why Choose Arham Multi Service <br></h3></div><br>


<p class="flex justify-center text-white font-md  ml-[150px] mr-[150px]"> 
  Your Service provider will be there on every step of the way until your case is complete.
  Know How much it costs .
  I will provide you with full details before we can proceed  .
  I will work with your case on timely fashion.</p>
  <br>
  <br>

  <main class="flex justify-center">
  <div class="container ">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card ">
      <div class="cards ">

        <div class="card">
         <div class="content ">
           <div class="img">
             <img src="{% static '/images/images/img1.jpg' %}" alt="">
           </div>
           <div class="details">
             <div class="name">Andrew Neil</div>
             <div class="job">Web Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="{% static '/images/images/img2.jpg' %}" alt="">
           </div>
           <div class="details">
             <div class="name">Jasmine Carter</div>
             <div class="job">UI Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="{% static '/images/images/img3.jpg' %}" alt="">
           </div>
           <div class="details">
             <div class="name">Justin Chung</div>
             <div class="job">Web Devloper</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
      
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="{% static '/images/images/img4.jpg' %}" alt="">
           </div>
           <div class="details">
             <div class="name">Appolo Reef</div>
             <div class="job">Web Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>

        <div class="card">
         <div class="content">
           <div class="img">
             <img src="{% static '/images/images/img5.jpg' %}" alt="">
           </div>
           <div class="details">
             <div class="name">Adrina Calvo</div>
             <div class="job">UI Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>

        <div class="card">
         <div class="content">
           <div class="img">
             <img src="{% static '/images/images/img6.jpeg' %}" alt="">
           </div>
           <div class="details">
             <div class="name">Nicole Lewis</div>
             <div class="job">Web Devloper</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>

      </div>
    </div>
    <div class="button">
      <label for="one" style="background-color: #ee4e4e;" class=" active one"></label>
      <label for="two" style="background-color: #ea5259;" class="two"></label>
    </div>
  </div>
</main>
<br>
<br>
<br>
</div>


<!-- service part end -->
<br>
<br>


<!-- packages start -->

<div class=" flex justify-center "style="background-image: url({% static 'images/images/img7.png' %})" id="PACKAGES">

  <div class="wrapper ">
  <h1 class="text-3xl font-semibold text-white" >BEST  PRICING PLAN </h1>
  <br>
  <br>
    <input type="radio" name="slider" id="tab-1">
    <input type="radio" name="slider" id="tab-2" checked>
    <input type="radio" name="slider" id="tab-3">
    <header>
      <label for="tab-1" class="tab-1 text-white">Basic</label>
      <label for="tab-2" class="tab-2 text-white">Standard</label>
      <label for="tab-3" class="tab-3 text-white">Team</label>
      <div class="slider"></div>
    </header>
    <div class="card-area">
      <div class="cards">
        <div class="row row-1">
          <div class="price-details">
            <span class="price text-white">19</span>
            <p class="text-white">For beginner use</p>
          </div>
          <ul class="features">
            <li><i class="fas fa-check text-white"></i><span class="text-white">100 GB Premium Bandwidth</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">FREE 50+ Installation Scripts WordPress Supported</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">One FREE Domain Registration .com and .np extensions only</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">Unlimited Email Accounts & Databases</span></li>
          </ul>
        </div>
        <div class="row">
          <div class="price-details">
            <span class="price text-white">99</span>
            <p class="text-white">For professional use</p>
          </div>
          <ul class="features">
            <li><i class="fas fa-check  text-white"></i><span class="text-white">Unlimited GB Premium Bandwidth</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">FREE 200+ Installation Scripts WordPress Supported</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">Five FREE Domain Registration .com and .np extensions only</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">Unlimited Email Accounts & Databases</span></li>
          </ul>
        </div>
        <div class="row">
          <div class="price-details">
            <span class="price text-white">49</span>
            <p class="text-white">For team collaboration</p>
          </div>
          <ul class="features">
            <li><i class="fas fa-check text-white"></i><span class="text-white">200 GB Premium Bandwidth</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">FREE 100+ Installation Scripts WordPress Supported</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">Two FREE Domain Registration .com and .np extensions only</span></li>
            <li><i class="fas fa-check text-white"></i><span class="text-white">Unlimited Email Accounts & Databases</span></li>
          </ul>
        </div>
      </div>
    </div>
    <button>Choose plan</button>
  </div>
  </div>

  <br>
  <br>
  <br>
  <!-- packages end -->
<!-- contact us start  -->
<main class="flex justify-center" id="CONTACT">

 
<div class="container">
  <img src="{% static '/images/images/contact-us.png' %}" alt="">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Address</div>
        <div class="text-one">Surkhet, NP12</div>
        <div class="text-two">Birendranagar 06</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic">Phone</div>
        <div class="text-one">+0098 9893 5647</div>
        <div class="text-two">+0096 3434 5678</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">arham@gmail.com</div>
        <div class="text-two">arham@gmail.com</div>
      </div>
    </div>
    <div class="right-side">
      <div class="topic-text">Send us a message</div>
      <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your Subject" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" required>
      </div>
      <div class="input-box message-box">
        
        <input type="text" placeholder="Enter your message" required>
      </div>
      <div class="button">
        <input type="button" value="Send Now" >
      </div>
    </form>
  </div>
  </div>
</div>
</main>
<br>
<br>
<!-- contact us end  -->



 <script>
    const aboutBtn = document.getElementById('about-button');
    const missionBtn = document.getElementById('mission-button');
    const skillsBtn = document.getElementById('skills-button');
    const aboutSection = document.getElementById('about-section');
    const missionSection = document.getElementById('mission-section');
    const skillsSection = document.getElementById('skills-section');
    
    // add click event listeners to the buttons
    aboutBtn.addEventListener('click', () => {
      aboutSection.style.display = 'block';
      missionSection.style.display = 'none';
      skillsSection.style.display = 'none';
      
      aboutBtn.classList.add('clicked');
      missionBtn.classList.remove('clicked');
      skillsBtn.classList.remove('clicked');
    });
    
    missionBtn.addEventListener('click', () => {
      aboutSection.style.display = 'none';
      missionSection.style.display = 'block';
      skillsSection.style.display = 'none';
      
      missionBtn.classList.add('clicked');
      aboutBtn.classList.remove('clicked');
      skillsBtn.classList.remove('clicked');
    });
    
    skillsBtn.addEventListener('click', () => {
      aboutSection.style.display = 'none';
      missionSection.style.display = 'none';
      skillsSection.style.display = 'block';
      
      skillsBtn.classList.add('clicked');
      aboutBtn.classList.remove('clicked');
      missionBtn.classList.remove('clicked');
    });
    
    // hide the mission and skills sections initially
    missionSection.style.display = 'none';
    skillsSection.style.display = 'none';
    aboutBtn.classList.add('clicked');
    missionBtn.classList.remove('clicked');
    skillsBtn.classList.remove('clicked');

 </script>    

<script src= "{% static 'home/home.js' %}" ></script>
{% endblock body %}